{% extends "::base_inner.html.twig" %}

{% block body %}


<section id="static-pages" class="mg-t45">
    <div class="container mg-t120">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center mg-t50">
                <p class="text-center">Infelizmente a página pesquisada não encontrada ou não existe.</p>
                <p class="text-center">Verifique o endereço acessado e tente novamente!</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
