{% extends '::Backend/base.html.twig' %}

{% block title %}AppBundle:Home:index{% endblock %}

{% block body %}
    <aside class="right-side">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Dashboard</h1>
        </section>

        <section class="content">
        </section>
    </aside><!-- /.right-side -->
{% endblock %}
