<div class="box-body">
    <div class="form-group">
        {{ form_errors(form.name) }}
        <label for="distributors_name">Nome</label>
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
</div><!-- /.box-body -->
