{% extends '::base-login.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% if error is defined and error %}
      <div class="alert alert-block alert-danger fade in">
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
        {{ error|trans }}
      </div>
    {% endif %}
    <div class="form-box" id="login-box">

        <div class="header">
            <h2>Alerta !</h2>
        </div>

        <div class="body bg-gray">
            <div class="form-group">
                Este usuário já solicitou uma senha nas últimas 24 horas.
            </div>
        </div>

    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
